{% extends 'base.html.twig' %}

{% block title %}Etablishment{% endblock %}

{% block body %}
<style>
   
</style>

<div class="example-wrapper">
   <p> COntroller pour controller</p>
</div>
{% endblock %}
